body {
    font-family: monospace;
    background-color: #FFF8F0;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 900px;
    padding: 24px;
    box-sizing: border-box;
}

.heading {
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 10px;
}

.forms {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

.form-card,
.response-card {
    background-color: #FFFCF9;
    border-radius: 6px;
    padding: 16px;
    box-shadow: 1.5px 1.5px 0px #FF69B4;
    min-width: 260px;
    flex: 1 1 320px;
    border-color: #ffb6d3;
    border-width: 1px;
    border-style: solid;
    /* flexible width, stays readable */
    box-sizing: border-box;
}

.spacer {
    margin: 20px;
}

input,
textarea {
    display: block;
    margin-bottom: 16px;
    margin-top: 4px;
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    resize: vertical;
}

label {
    padding: 8px 4px;
    font-family: "Jersey 10", sans-serif;
    /* font-size: 0.85em; */
    font-weight: 100;
    color: #FF69B4;
    letter-spacing: 1px;
}

.selects {
    display: flex;
    margin-bottom: 8px;
    width: 100%;
    justify-content: space-between;
}

select {
    padding: 8px 8px;
    border: 1px solid #c3c3c3;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
}

button {
    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
    font-size: large;
    letter-spacing: 2px;
    background: linear-gradient(90deg, #FFE58F 0%, #FFB4B4 100%);
    border-radius: 4px;
    border-style: none;
    padding: 12px;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    transition: transform 0.2s ease;

}

button:hover {
    transform: translateY(-2px);
}